---
import Layout from "../../components/Layout.astro"
import Hero from "../../components/Hero.astro"
import Orders from "../../components/Orders.astro"

import en from "../../translations/en"

const content = en
const languajes = ["es", "en"]

const links = {
  home: "/en",
  about: "/en/about",
  menu: "/en/menu",
  testimonials: "/en/about#testimonials",
  appointments: "/en/appointments",
  contact: "/en/contact"
}
---

<Layout 
  {...content.footer} 
  {...content.menu} 
  languajes={languajes} 
  title="Bacon Love | Bar & Grill and Artisanal Burgers in Las Rosas, Madrid"
  description="Enjoy the best artisanal burgers and craft kitchen at Bacon Love, your premier Bar & Grill in San Blas-Canillejas (Las Rosas). Book your table today!"
  lang="en"
  links={links}
  alternateLinks={alternateLinks}
>
  <Hero 
    {...content.hero} 
    title1="Bacon Love" 
    title2="Bar & Grill & Artisanal Kitchen in Madrid"
  />
  <div style="display:none">
    <h1>Bacon Love: Bar & Grill & Artisanal Kitchen in Madrid</h1>
    <h2>Artisanal Burgers</h2>
    <h2>Bar & Grill Atmosphere</h2>
  </div>
  <Orders {...content.orders} />
</Layout>
