.plato{
  padding: 32px 16px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  min-height: 100dvh;
}

.plato .container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 16px;
}

.plato .container img{
  width: 100%;
  max-width: 550px;
  object-fit: cover;
  border-radius: 16px;
}

.plato__imgbox {
  width: 100%;
  max-width: 550px;
}

.plato__textbox{
  width: 100%;
  max-width: 550px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.plato__textbox h1{
  font-size: clamp(3rem, 8vw, 4.5rem);
  width: 100%;
  max-width: 550px;
}

.plato__textbox ul{
  padding-left: 30px;
  list-style: ;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.plato__price{
  padding: 16px 32px;
  border-radius: 999px;
  background-color: var(--white-transparent);
  align-self: center;
  font-size: 1.5rem;
}


@media (width <= 800px) {
  .plato .container{
    flex-direction: column;
    align-items: center;
  }
}