.about{
  width: 100%;
  min-height: calc(100dvh - 60px);
  padding: 128px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about .container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 32px;
}

.about__imgbox{
  width: 100%;
  max-width: 550px;
  flex: 1 1 550px;
  overflow: hidden;
  aspect-ratio: 1/1;
  border-radius: 8px;
}

.about__imgbox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about__textbox{
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  flex: 1 1 550px;
  max-width: 550px;
}

.about__titles{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.about__subtitle{
  font-family: "stella";
  font-size: clamp(2rem, 6vw, 3rem);
  filter: opacity(.6);
  text-wrap: nowrap;
}

.about__title{
  display: flex;
  flex-direction: column;
  line-height: 55px;
}

.about__title strong{
  font-family: "stella";
  font-size: clamp(3rem, 8vw, 4.5rem);
}

.about__textbox p  {
  text-align: justify;
}

.about__textbox p span {
  font-weight: 800;
  text-align: justify;
}


.hero__btn{
  padding: 16px 32px;
  background-color: var(--white);
  border-radius: 8px;
  align-self: flex-start;
  color: var(--black);
}

@media (width <= 800px) {
  .about .container{
    flex-direction: column;
  }

  .about__textbox{
    order: 2;
  }
}