.hero{
  width: 100%;
  min-height: calc(100dvh - 60px);
  padding: 32px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 32px;
}

.hero__imgbox{
  width: 100%;
  max-width: 550px;
}

.hero__imgbox img {
  width: 100%;
  height: 100%;
  object-fit: contain
}

.hero__textbox{
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  max-width: 550px;
}

.hero__titles{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.hero__subtitle{
  font-size: clamp(2rem, 6vw, 3rem);
  filter: opacity(.6);
}

.hero__title{
  display: flex;
  flex-direction: column;
  line-height: 45px;
}

.hero__title strong{
  font-family: "stella";
  font-size: inherit;
  transform: scale(.6);
  transform-origin: 0 30px;
}

.hero__textbox p  {
  text-align: justify;
}

.hero__textbox p span {
  font-weight: 800;
  text-align: justify;
}


.hero__btn{
  padding: 16px 32px;
  background-color: var(--white);
  border-radius: 8px;
  align-self: flex-start;
  color: var(--black);
}

@media (width <= 800px) {
  .hero .container{
    flex-direction: column;
  }

  .hero__textbox{
    order: 2;
  }

  .hero__btn{
    align-self: stretch;
    text-align: center;
  }
}