@font-face {
  font-family: "jost";
  src: url("../../public/fonts/jost.ttf");
  font-display: block;
}

@font-face {
  font-family: "stella";
  src: url("../../public/fonts/stella.otf");
  font-display: block;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

}

:root{
  --bg: #131212;
  --white-transparent: #ffffff1c;
  --white: #f3eeee;
  --black: #191818;
}

body {
  width: 100%;
  max-width: 100vw;
  height: 100%;
  min-height: 100vh;
  position: relative;
  color: white;
}

body::after{
  content: "";
  background-color: var(--bg);
  position: absolute;
  z-index: -2;
  inset: 0;
}

body::before{
  content: "";
  position: absolute;
  z-index: -1;
  background-image: url("../../public/t2.png");
  filter: opacity(.4);
  inset: 0;

}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}



h1,h2,h4,h5{
  font-family: "stella";
}

h2{
  font-size: clamp(3.5rem, 8vw, 5rem);
}


h3,h4{
  font-family: "jost";
  font-weight: 600;
  font-size: 25px;
}

h1{
  font-size: clamp(4rem, 8vw, 6.5rem);
}



a{
  text-decoration: none;
  color: inherit;
}

p,li{

  font-family: "jost";
  font-weight: 400;
}

a,button,strong,div,small{
  font-family: "jost";
  font-weight: 600;
  font-size: 1rem;
}

svg{
  fill: var(--white);
}