.menu{
  width: 100%;
  height: 60px;
  padding: 8px 16px;
  z-index: 10;
  position: sticky;
  top: 0;
}

.menu::after{
  content: "";
  background-color: var(--bg);
  position: absolute;
  z-index: -2;
  inset: 0;
}

.menu::before{
  content: "";
  position: absolute;
  z-index: -1;
  background-image: url("../../public/t2.png");
  filter: opacity(.4);
  inset: 0;

}

.menu .container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu__logo{
  height: 40px;
}

.menu__right{
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
}

.menu__logo img{
  filter: invert(1);
  height: 100%;
  object-fit: contain;
}

.menu__list{
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.menu__actions{
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}

.menu__btn{
  display: none;
  width: 40px;
  height: 40px;
  background-color: var(--white-transparent);
  border: none;
  border-radius: 8px;
  padding: 4px;
  flex-direction: column;
  justify-content: space-evenly;
  overflow: hidden;
}

.menu__btn span{
  display: block;
  background: var(--white);
  height: 6px;
  width: 100%;
}

.menu__btn span:nth-child(1){
  border-radius: 5px 5px 0px 0px;
  transition: border-radius .3s, height .3s, transform .3s;
}

.menu__btn span:nth-child(2){
  height: 3px;
  transition: filter .3s, transform .3s;
}

.menu__btn span:nth-child(3){
  border-radius: 0px 0px 2px 2px;
  transition: border-radius .3s, height .3s, transform .3s;
}

.menu__btn.active span:nth-child(1){
  border-radius: 0;
  height: 3px;
  transform:  translateY(9px) rotate(45deg) ;
}

.menu__btn.active span:nth-child(2){
  transform:  translateX(20px) ;
  filter: opacity(0);
}

.menu__btn.active span:nth-child(3){
  border-radius: 0;
  height: 3px;
  transform:  translateY(-9px) rotate(-45deg) ;
}



.menu__languajes {
  position: relative;
  cursor: default;
  user-select: none;
}

.menu__languaje{
  padding: 8px 16px;
  background-color: var(--white-transparent);
  border-radius: 4px;
}

.menu__languajes ul{
  overflow: hidden;
  list-style: none;
  position: absolute;
  top: 40px;
  background-color: var(--white-transparent);
  backdrop-filter: blur(10px);
  border-radius: 4px;

  transform: translateY(-10px);
  filter: opacity(0);
  visibility: hidden;

  transition: transform .3s, filter .2s;
}

.menu__languajes ul.active{
  transform: translateY(-0px);
  filter: opacity(1);
  visibility: visible;

}

.menu__languajes ul li{
  padding: 8px 16px;
  display: block;
}

.menu__languajes ul li a:hover{
  background: var(--white);
  color: var(--black);
}


@media (width <= 800px) {
  .menu__btn{
    display: flex;
  }

  .menu__list {
    position: absolute;
    background-color: #ffffff38;
    height: 100dvh;
    width: 100%;
    top: -100dvh;
    left: 0;
    z-index: -1;
    backdrop-filter: blur(20px);

    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: top .3s;
  }

  .menu__list.active {
    top: 0;
  }
}