---
export const prerender = true;

import "./carta.css"
import Layout from "../../components/Layout.astro"
import Platillos from "../../components/Platillos.astro"


import es from "../../translations/es"
import en from "../../translations/en"

export function getStaticPaths (){
	return [{params: {lang: "es"}},{params: {lang: "en"}}]
}

export const defaultRedirect = "/es"

const lang = Astro.params.lang
const translations = {en,es}
const content = translations[lang]

const languajes = Object.keys(translations)

console.log(content.footer)

---

<Layout {...content.footer} {...content.menu} languajes={languajes} >
  <div class="c__container">
    <Platillos {...content.platillos}  />
  </div>
</Layout>